*{
    margin: 10xp;
    padding: 5px;
    box-sizing: border-box;

}
.main {
    border: 2px solid red;
    padding: 10px;
    
}
.he {
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}
.pp {
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}
input {
    border: 2px solid red;
}
a {
    border: 2px solid red;
}
.ppp {
    border: 2px solid red;
}